<div class="jumbotron text-center" id="jumbotron">
    <h3 class="pagetitle">Notes of Onion</h3>
</div>

    <div class="row">
        <div class="col-12">
            <h3 data-id="{{article._id}}">Article ID: {{article._id}}</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {{#each article}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <h4>{{this.title}}</h4>
                        </div>
                        <div class="col-0"></div>
                        <div class="col-5">
                            <p>{{this.summary}}</p>
                            <p><a href="{{url}}">{{url}}</a></p>
                        </div>
                        <div class="col-3">
                            <br>
                            <a href="/articles/{{_id}}">
                            <button class="btn btn-primary" type="button" data-id="{{_id}}">Add/See Notes</button></a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <br><br>
        </div> 
    </div>
